<mat-nav-list class="sidenav-list">
    <a mat-list-item  routerLink="/login" (click)="onToggleClose()" >
      <mat-icon>input</mat-icon>
      <span>Login</span>
    </a>
    <a mat-list-item routerLink="/register" (click)="onToggleClose()">
      <mat-icon>account_circle</mat-icon>
      <span>Register</span>
    </a>
    <a mat-list-item routerLink="/venues" (click)="onToggleClose()">
      <mat-icon>business</mat-icon>
      <span>Venues</span>
    </a>
    <a mat-list-item routerLink="/events" (click)="onToggleClose()">
      <mat-icon>alarm</mat-icon>
      <span>Events</span>
    </a>
  </mat-nav-list>