<div class="wrapper">
  <h1 class="header">Login</h1>
  <div class="container">
    <div class="row">

      <form class="login-form" #loginForm="ngForm" (ngSubmit)="tryLogin(loginForm.value)">
        <div class="form-group">
          <label for="email">Email</label>
          <input #emailInput="ngModel" type="text" ngModel name="email" id="email" class="form-control"
            placeholder="john.doe@domain.bg" [pattern]="emailRegex" required>
          <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email!</p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input #passwordInput="ngModel" required minlength="6" type="password" ngModel name="password" id="password"
            class="form-control" placeholder="************">
          <p class="error-message" *ngIf="passwordInput.touched && passwordInput.invalid">Please enter a password!</p>
        </div>
        <div class="login-button">
          <button [disabled]="loginForm.invalid" class="btn btn-success">Login</button>
          <p class="black"> ...or you can just...</p>
        </div>

        <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with
          Facebook</button>
        <p class="black">Don't have account yet? <a  class="black" routerLink="/register">Register</a>.</p>
      </form>
    </div>
  </div>
</div>