.img-noFavourites{
    text-align: center;
    font-size: 18px;
    padding :50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    min-height: 100%;
    min-width: 1024px;
    opacity: 0.8;
    width: 100%;
    height: auto;
    position: fixed;
    top: auto;
    left: 0;
}
.msg{
   color : white;
   background-color: black;
   text-align: center;
}