<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleOpenSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="logo-container">
        <div fxLayout="column" fxLayoutAlign="center center">
            <!-- <a *ngIf="isLogged" routerLink="/user/profile">Profile</a>
            <a *ngIf="isLogged" (click)="logout()">Logout</a> -->

        </div>
    </div>
</mat-toolbar>

<!-- <li>
    <a *ngIf="isLogged" routerLink="/cause/create">Create cause</a>
  </li>
  <li>
    <a *ngIf="isLogged" routerLink="/user/profile">Profile</a>
  </li> -->