<div class="navtabs-container">
  <nav class="navlinks-container" mat-tab-nav-bar fxFlex fxLayout="row" fxLayoutAlign="center center">
    <div class="navlinks-container">

      <a mat-tab-link routerLink="/" routerLinkActive #home="routerLinkActive" [routerLinkActiveOptions]="{exact:true}"
        [active]="home.isActive">
        <b>HOME</b>
      </a>

      <a mat-tab-link routerLink="/venues" routerLinkActive #venues="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}" [active]="venues.isActive">
        <b>VENUES</b>
      </a>

      <a mat-tab-link routerLink="/favourites" routerLinkActive #favourites="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}" [active]="favourites.isActive">
        <b>FAVOURITES</b>
      </a>

      <a mat-tab-link routerLink="/events" routerLinkActive #events="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}" [active]="events.isActive">
        <b>EVENTS</b>
      </a>

      <a mat-tab-link routerLink="/user" routerLinkActive #user="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}" [active]="user.isActive">
        <b>PROFILE</b>
      </a>

    </div>
  </nav>

</div>