<div class="navtabs-container">
    <nav mat-tab-nav-bar mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
      <a mat-tab-link routerLink="/"
       routerLinkActive #home="routerLinkActive"
       [active]="home.isActive">
       Home
       </a>

       <a mat-tab-link routerLink="/deals"
       routerLinkActive #deals="routerLinkActive"
       [active]="deals.isActive">
       Deals
       </a>

       <a mat-tab-link routerLink="/favourites"
       routerLinkActive #favourites="routerLinkActive"
       [active]="favourites.isActive">
       Favourites
       </a>
  
       <a mat-tab-link routerLink="/venues"
       routerLinkActive #venues="routerLinkActive"
       [active]="venues.isActive">
       Venues
       </a>
  
       <a mat-tab-link routerLink="/events"
       routerLinkActive #events="routerLinkActive"
       [active]="events.isActive">
       Events
       </a>
  
       <a mat-tab-link routerLink="/calendar"
       routerLinkActive #calendar="routerLinkActive"
       [active]="calendar.isActive">
       Calendar
       </a>
       <a mat-tab-link routerLink="/user"
       routerLinkActive #user="routerLinkActive"
       [active]="user.isActive">
       Profile
       </a>
    </nav>
  </div>